p <b>Hi #{name}<b/>,
p An account has been created for you by #{manager}.
p To choose a password and complete your account activation, please follow the link below:
a(href=`${url}`) #{url}
p If it is not clickable, please copy and paste the URL into your browser's address bar.

p Nobli