p <b>Hi #{name}<b/>,
p You're receiving this email because you requested a password reset for your Nobli Account. If you did not request this change, you can safely ignore this email.
p To choose a new password and complete your request, please follow the link below:
a(href=`${url}`) #{url}
p If it is not clickable, please copy and paste the URL into your browser's address bar.

p Nobli